################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sqlCacheDependencyDemo/bin/System.Web.Webpages.xml
